/* src/ChecklistTable.css */

.checklist-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    color: #d27b0a;
    font-weight: bold;
    margin: 10px;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 8px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 200px;
    margin-right: 10px;
}

.add-new-btn {
    background-color: #f58220;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.add-new-btn::before {
    content: '+';
    font-size: 18px;
    margin-right: 5px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: normal;
}

td {
    color: #333;
}

td:nth-child(6) {
    text-align: left;
}

button {
    border: none;
	border-radius : 5px;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
}

button.edit-btn {
    background-color: #007bff; /* Blue color */
}

button.done-btn {
    background-color: #28a745; /* Green color */
}

button.delete-btn {
    background-color: #dc3545; /* Red color */
}

button:not(:last-child) {
    margin-right: 8px;
}

tr.done td {
    text-decoration: line-through;
    color: gray;
}